future
emoji
jikanpy
beautifulsoup4
bs4
requests==2.20.0
sqlalchemy
python-telegram-bot==11.1.0
psycopg2-binary
youtube_dl
feedparser
googletrans
Pillow>=4.2.0
aiohttp>=2.2.5
pynewtonmath
psutil
bleach
markdown2
speedtest-cli
wikipedia
malclient
coffeehouse
tswift
pyrate-limiter
parsel
pyrogram
pytz
gtts
geopy
gpytranslate
telethon==1.16.4
mtranslate
#textwrap
jikanpy
fontTools
nekos.py
pathlib
pySmartDL 
validators
tgcrypto
hachoir
pybase64
redis
html2text